body {
  margin: 0;
  padding: 0;
}

/* Style for the input container */
.search-container {
  display: inline-block;
  position: relative;
  padding: 5px;
}

/* Style for the input element */
.search-input {
  padding: 8px 10px 8px 40px;
  border: 2px solid rgb(96 165 250);
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

/* Style for the search icon */
.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #555;
  cursor: pointer;
}

.user-search::-webkit-scrollbar {
  display: none;
}
