.home-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.home-right {
  overflow: scroll;
  margin-left: 30px;
}

.home-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.home-center::-webkit-scrollbar {
  display: none;
}
.home-right::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1440px) {
  .home-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1100px) {
  .home-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 5fr;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
  }
  .home-right {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .home-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
  }
  .home-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding-bottom: 6rem;
  }
  .home-left {
    display: none;
  }
}
